@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #fafafa;
	box-sizing: border-box;
}

/*Блок Хэдер*/

header {
	box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
}
.logo__link {
	margin: 0;
	font-size: 22px;
	text-decoration: none;
	color: black;
	display: block;
	width: 100%;
	height: 100%;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.header {
	display: flex;
	flex-direction: row;
	line-height: 50px;
}
.header__nav {
	flex-grow: 1;
	display: flex;
	margin: 0;
}
.nav__item {
	list-style: none;
	margin-right: 15px;
}
.nav__link {
	font-size: 14px;
	color: #999999;
	text-decoration: none;
	transition: 0.3s color;
	display: block;
	width: 100%;
	height: 100%;
}
.nav__link:hover {
	color: black;
}
.header__btn {
	font-size: 14px;
	color: #999999;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}

/*Конец блока Хэдэр*/


/*Блок Маин*/



/*Блок desc*/
.desc__subtitle {
	margin: 0;
	padding: 40px 0 17px 0;
	color: #cccccc;
	font-size: 14px;
	font-weight: normal;
}
.aside {
    display: flex;
    align-items: baseline;
    padding-bottom: 50px;
}
.aside__title {
	margin: 0 30px 0 0;
	color: #808080;
	font-size: 36px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
.aside__link {
	font-size: 14px;
	color: #666699;
	text-decoration: none;
}

/*Конец блока desc*/


/*Блок .columns-md-3*/

.columns-md-3 {
	columns: 3;
	column-gap: 30px;
}

/*Карточка*/
.card {
	background: white;
	border-radius: 6px;
	display: inline-block;
	width: 100%;
	margin: 15px 0;
	box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.08);

}
.card__title {
	margin: 0;
	color: #666666;
	font-size: 14px;
	line-height: 50px;
	border-bottom: 2px solid #fafafa;
	padding: 0 30px;
}
.list {
	margin: 0;
	padding: 0;
}
.list__item {
	list-style: none;
	line-height: 50px;
	padding: 0 30px;
	border-bottom: 2px solid #fafafa;
}
.list__link {
	color: #666699;
	text-decoration: none;
}
.card__diagram {
	text-align: center;
	padding: 15px 30px;
}
.diagram {
    padding: 0 30px;
    line-height: 30px;
}
.diagram__item {
	display: flex;
	justify-content: space-between;
}


/*Медиа запросы*/

 /* Мобильная версия ( от 600px и ниже) */
@media only screen and (max-width: 599px) {
  .columns-md-3 {
	columns: 1;
 }
 .container {
 	width: 300px;
 }
 .header {
 	display: block;
 	text-align: center;
 }
 .header__nav {
 	display: block;
 	padding: 0;
 }
 .nav__item {
 	margin: 0;
 }
 .desc {
 	text-align: center;
 }
 .aside {
 	display: block;
 }
 .aside__title {
 	margin: 0;
 }
}

/* Для маленьких устройств (портативные планшенты или большие телефоны,от 600px и выше) */
@media only screen and (min-width: 600px) {
  .columns-md-3 {
  	columns: 2;
  }
  .container {
  	width: 550px;
  }

}

/* Для средних устройств (планшеты и т.д., размер от 768px и выше) */
@media only screen and (min-width: 768px) {
  .container {
  	width: 700px;
  }
} 

/* Для широких устройств (ноутбук,ПК. От 992px и выше) */
@media only screen and (min-width: 992px) {
 .columns-md-3 {
 	columns: 3;
 }
 .container {
 	width: 900px;
 }
} 

/* Для больших устройств (ноутбуки,ПК. От 1200px и выше) */
@media only screen and (min-width: 1200px) {
  .container {
 	width: 100%;
 }
}




















/*Карточки на флексбоксе*/
 
.columns {
 display: flex;	
 align-items: flex-start;
 flex-wrap: wrap;
 margin-right: -15px;
 margin-left: -15px;
}

.columns__item {
	flex-basis: 33.33%;
	padding: 0 15px;
	box-sizing: border-box;
}
.columns-card {
	background: white;
    border-radius: 6px;
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    vertical-align: middle;
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.08);
}

.columns-card__title {
	margin: 0;
    color: #666666;
    font-size: 14px;
    line-height: 50px;
    border-bottom: 2px solid #fafafa;
    padding: 0 30px;
}
.columns-card__diagram {
	text-align: center;
    padding: 15px 30px;
}


/* Мобильная версия ( от 600px и ниже) */
@media only screen and (max-width: 599px) {
 .columns__item {
 	flex-basis: 100%;
 }
 /*.container {
 	width: 300px;
 }*/
 
}

/* Для маленьких устройств (портативные планшенты или большие телефоны,от 600px и выше) */
@media only screen and (min-width: 600px) {
  .columns__item {
  	flex-basis: 100%;
  }
  /*.container {
  	width: 550px;
  }*/

}

/* Для средних устройств (планшеты и т.д., размер от 768px и выше) */
@media only screen and (min-width: 768px) {
 
.columns__item {
  	flex-basis: 50%;
  }
 /* .container {
  	width: 700px;
  }*/
} 

/* Для широких устройств (ноутбук,ПК. От 992px и выше) */
@media only screen and (min-width: 992px) {
 .columns__item {
  	flex-basis: 33.33%;
  }
 /*.container {
 	width: 900px;
 }*/
} 

/* Для больших устройств (ноутбуки,ПК. От 1200px и выше) */
@media only screen and (min-width: 1200px) {
   .columns__item {
  	flex-basis: 33.33%;
  }
}